<h3>Aritst - Show</h3>
<p>Name: {{model.name}}</p>
<p>Artist: {{#link-to 'artist' model.artist_id}}{{model.artist_id.name}}{{/link-to}}</p>
<p>total sold: {{model.total_sold}}</p>
<ul>
  {{#each model.comment_ids as |comment|}}
    <h2>Author: {{comment.author}}</h2>
    <p>Message:</p>
    <p>{{comment.message}}</p>
  {{/each}}
</ul>
