
<div class="row">
  <div class="col-md-4">
    <h1>Top Five Artists</h1>
    <ul>
      {{#each model.top_five_artists as |artist|}}
        <li>{{#link-to 'artist' artist}}{{artist.name}} : {{artist.total_albums_sold}}{{/link-to}}</li>
      {{/each}}
    </ul>
    <h1>Artists list</h1>
    <ul>
      {{#each model.artists as |artist|}}
        <li>{{#link-to 'artist' artist}}{{artist.name}} : {{artist.total_albums_sold}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-4">
    <h1>Aritst Locations</h1>
    <ul>
      {{#each model.locations as |location|}}
        <li><p>{{location.location}} | {{location.count}}</p></li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-4">
    <h1>Albums by Years</h1>
    <ul>
      {{#each model.years as |year|}}
        <li><p>{{year.year}} | {{year.count}}</p></li>
      {{/each}}
    </ul>
  </div>
</div>
{{outlet}}

